body {
    background-color: lightgrey;
    color: blue;
}

h1 {
    background-color: black;
    color: white;
}

.container {
    max-width: 750px;
    margin: 100px auto;
    overflow: auto;
    min-height: 500px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.welcome {
    background-color: lightgrey;
    color: black;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.btn {
    justify-content: flex-end;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale (0.98)''
}

.btn-block {
    display: block;
    width: 100%;
}

.btn2 {
    justify-content: flex-end;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn2:focus {
    outline: none;
}

.btn2:active {
    transform: scale (0.98)''
}

.btn2-block {
    display: block;
    width: 100%;
}