
.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    display: flexbox;
    vertical-align: middle;
    /* height: 600px; */
}

.form div{
    display: inline-block;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    display: block;
    width: 40%;
    float: left;
    padding: 6px;
}

.form__input{
    display: block;
    width: calc(76% - 11px);
    float: left;
    padding: 6px;
}

.form__submit{
    display: block;
    float: left;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-left: 15px;
}

.footer{
    text-align: center;
}