
.container {
    max-width: 600px;
    margin: 100px auto;
    overflow: auto;
    min-height: 250px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    display: block;
    width: 40%;
    float: left;
    padding: 6px;
}

.form_input{
    display: block;
    width: calc(76% - 11px);
    float: left;
    padding: 6px;
}